{% extends 'base.html.twig' %}

{% block title %}profiel{% endblock %}

{% block stylesheets %}
	
		
	
	<style>
	.col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        background-color: #664466;
    }
	</style>

	        
{% endblock %}


{% block body %}

    <div class="text-center card-box">
        <div>
            <img src="{{ asset('assets/images/avatar.jpeg') }}" class="rounded-circle thumb-xl img-thumbnail m-b-10" alt="profile-image">

            <div class="text-left">
                <p class="text-muted font-13"><strong>Voornaam:</strong> <span class="m-l-15">{{ data.givenName }}</span></p>

                <p class="text-muted font-13"><strong>Achternaam:</strong><span class="m-l-15">{{ data.surname }}</span></p>

                <p class="text-muted font-13"><strong>Email:</strong> <span class="m-l-15">{{ data.mail }}</span></p>
            </div> 
        </div>
    </div>       

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	    
{% endblock %}
