{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
	
		
	
	<style>
	.col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        background-color: #664466;
    }
	</style>

	        
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-2">
    	<!-- LEERMATERIALEN-->
        <div class="card m-b-10">
        	<a href="https://lms.{{portalUrl}}">
            	<img class="card-img-top img-fluid" src="{{ asset('assets/images/learning.jpg') }}" alt="Learning">
            
            <div class="card-body">
                <h4 class="card-title">Leermaterialen</h4>
            </div>
            </a>
        </div>
    </div>
          
    <div class="col-2">  
          <!-- Instructies-->
        <div class="card m-b-10">
        	<a href="https://lms.{{portalUrl}}/courses/7">
            	<img class="card-img-top img-fluid" src="{{ asset('assets/images/instruction.png') }}" alt="Learning">
            
            <div class="card-body">
                <h4 class="card-title">Instructies</h4>
            </div>
            </a>
        </div>
    </div>
          
    <div class="col-2">  
         <!-- LTI-->
        <div class="card m-b-10">
        	<a href="{{ context[0].url }}">
            	<img class="card-img-top img-fluid" src="{{ context[0].icon_url }}" alt=" {{ context[0].description }} ">
            
            <div class="card-body">
                <h4 class="card-title">{{ context[0].name }}</h4>
            </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
	<script>
        $(function () {
            // sortable
            $(".sortable").sortable({
                connectWith: '.sortable',
                items: '.card-draggable',
                revert: true,
                placeholder: 'card-draggable-placeholder',
                forcePlaceholderSize: true,
                opacity: 0.77,
                cursor: 'move'
            });
        });
    </script>
    
{% endblock %}
